@using WebIncidencias_UF3.Models
@model LoginViewModel
@{
    ViewBag.Title = "Iniciar sesión";
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <header class="auth-header">
        <h1 class="auth-title">
            <div class="logo"> <span class="l l1"></span> <span class="l l2"></span> <span class="l l3"></span> <span class="l l4"></span> <span class="l l5"></span> </div> WebIncidencias UF3
        </h1>
    </header>
    <div class="auth-content">
        <p class="text-xs-center">Iniciar Sesión</p>@Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form id="login-form" action="/index.html" method="GET" novalidate="">

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Iniciar sesión" class="btn btn-primary" />
            </div>
        </form>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}