@model WebIncidencias_UF3.Models.Inicio.InicioVM
@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>¡Hola @Model.Usuario.Nombre!</h1>
    <p class="lead">Correo: @Model.Usuario.Email</p>
    <p class="lead">Fecha/Hora Inicio Sesión: @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("HoraSesion").Value</p>
</div>

@if (Model.Incidencias.Count() > 0)
{
    <h3>Tus incidencias pendientes: </h3>
    <table class="table table-bordered">
        <tr>
            <th>
                Nombre dispositivo
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Fecha Creacion
            </th>
        </tr>
        @foreach (var item in Model.Incidencias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Dispositivo.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Descripion)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FechaCreacion)
                </td>
            </tr>
        }
    </table>
}
